<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
       <Property name ="log.dir">/tmp</Property>
        <Property name="filters">groovy.lang,org.springframework,java.lang.reflect,org.codehaus.groovy,sun.reflect</Property>
    </Properties>
    <Appenders>
        <RollingFile name="application-log-file" fileName="${sys:log.dir}/sandyspring-application.log" filePattern="${sys:log.dir}/sandyspring-application.log.%i">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10" compressionLevel="0"/>
        </RollingFile>
        <Async name="application-log-async">
            <AppenderRef ref="application-log-file"/>
        </Async>
    </Appenders>
    <Loggers>
        <asyncRoot level="INFO">
            <AppenderRef ref="application-log-async"/>
        </asyncRoot>
        <Logger name="org.apache" level="WARN"/>
        <Logger name="org.springframework" level="INFO"/>
        <Logger name="org.springframework.web.client.RestTemplate" level="ERROR"/>
    </Loggers>
</Configuration>